		{% extends 'admin/master.html' %}

		{% block body %}






<div class="row">
	<div class="col-xs-4">
		<h2>View Status:</h2>
		<ul>
			<li><b>Total Issues:</b> {{ total_issues }}</li>
			<li><b>Last login - User:</b> {{ last_login_user }} </li>
			<li><b>Last Login - Date:</b> {{last_login_date }} </li>
			<li><b>Last login - Issue:</b> {{ last_login_reason }}</li>
		</ul>
	</div>
	<div class="col-xs-4 col-xs-offset-2">
		<h2>Raspberry Pi Status:</h2>
		<ul>
			<li><b>IP Address:</b> 192.168.000.000</li>
			<li><b>Internet:</b> <span style="color:green">UP</span> </li>
			<li><b>Last Down:</b> March 13, 2016 08:05</li>
		</ul>
	</div>
</div>
{% endblock %}