<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Viewer</title>
    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <ul class="nav nav-pills">

                {% if current_user.is_authenticated %}
                    <li role="presentation"><a href="{{ url_for('web_viewer') }}">Web Viewer</a></li>
                    <li role="presentation"><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% if current_user.admin_access %}
                    <li role="presentation"><a href="{{ url_for('admin.index') }}">Admin</a></li>
                    {% endif %}
                    <li id = "user_name">User: {{ current_user.name }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <hr>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
                <hr>
              {% endif %}
            {% endwith %}
        </div>
    </div>

    {% block content %}
    {% endblock %}
    </div>
</div>
    <!-- JavaScript -->
    <script src = "/static/js/lazyload.js" ></script>
    <script>
        var myLazyLoad = new LazyLoad({
            threshold: 500,
            throttle: 200
        });

    </script>
    <script type="text/javascript">
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
    </script>
</body>
</html>