<!-- Extends base.html -->
{% extends "base.html" %}

{% block content %}
<div class="col-xs-8 col-xs-offset-2">

  <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
            <p>
              {{ form.start_date }} {{ form.end_date }} <input type="submit" value="Filter">
                {% for error in form.end_date.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}<br>
                {% for error in form.start_date.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
            </p>
    </form>

    {{ test_string }}

    {% for image in gallery %}
        <img src ="{{ url_for('static', filename = 'img/' + image) }}" class = "img-responsive">
    {% endfor %}
</div>

{% endblock %}