<!-- Extends base.html -->
{% extends "base.html" %}

{% block content %}
<div class="col-xs-8 col-xs-offset-2">
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
            <p>
              Please enter your Email:<br>
              {{ form.email(size=30) }}{% for error in form.email.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}<br>
            </p>

            <p>Reason for visit: <br>
                {{ form.visit_select }}{% for error in form.visit_select.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}<br>
            </p>

            <p>
              Description:<br>
              {{ form.visit_description(cols = 30, rows = 5) }}{% for error in form.visit_description.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}<br>
            </p>


        <p><input type="submit" value="Sign In"></p>
    </form>
</div>

{% endblock %}