<!-- Extends base.html -->
{% extends "base.html" %}

{% block content %}
<div class="col-xs-8 col-xs-offset-2">
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
            <p>
              Email: {% for error in form.email.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}<br>
              {{ form.email(size=30) }}<br>
            </p>
            <p>
              Password: {% for error in form.password.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}<br>
              {{ form.password(size=30) }}<br>
            </p>
            <p>Reason for visit: {% for error in form.visit_select.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}<br>
                {{ form.visit_select }}<br>
            </p>

            <p>
                Description: <span id="char_required">(25 Char Required)</span> {% for error in form.visit_description.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}<br>
              {{ form.visit_description(cols = 30, rows = 5) }}<br>
            </p>


        <p><input type="submit" value="Sign In"></p>
    </form>
</div>
<script>
    $
    $('textarea#visit_description').keyup(function(){
        var desired_length = 25;
        var current_length = $(this).val().length;
        var remaining_chars = desired_length - current_length
        if(remaining_chars < 0){remaining_chars = 0;}
        $('#char_required').text("(" + remaining_chars + " Char Required)")
    });



</script>
{% endblock %}