{% extends "base.html" %}
{% block content %}
<div class="col-xs-8 col-xs-offset-2">
    <h1>Register</h1>
    <form action="" method="post" name="register">
        {{ form.hidden_tag() }}
            <p>
              Name (Format: First.Last):<br>
              {{ form.name }}{% for error in form.name.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}<br>
            </p>
            <p>Email Address:<br>
                {{ form.email }}{% for error in form.email.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}<br>
            </p>

            <p>
              Password:<br>
              {{ form.password }}{% for error in form.password.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}<br>
            </p>
              Rewrite Password:<br>
              {{ form.password2 }}{% for error in form.password2.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}<br>
            </p>
        <p><input type="submit" value="Sign In"></p>
    </form>
</div>

{% endblock %}